<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find car_gazebo)/worlds/car.world"/>
		<arg name="use_sim_time" value="true" />
    <!-- more default parameters can be changed here -->
  </include>

	<!-- Spawn the master car -->
  <node name="spawn_master_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find car_description)/urdf/car_master_model.urdf -urdf -x 20 -y -1.75 -z 1 -model car_master_model" />

<!-- Spawn the follower car -->
  <node name="spawn_follower_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find car_description)/urdf/car_follower_model.urdf -urdf -x 0 -y -1.75 -z 1 -model car_follower_model" />

	<node name="cmd_manager" pkg="sensors" type="cmd_manager" />

	<include file="$(find tjp_pid)/launch/differential_drive_sim.launch">	</include>


</launch>
